<footer style="margin-top: 9rem;">
    <div class="row">
        <div class="col" id="col-1">
            <h1 class="logo"><i class="bi bi-book-half" style="color: blue; font-size: 26px; margin-right: 5px;"></i>BookWave</h1>
            <p style="margin-top: 20px;">BookWave is a website that aims to help readers discover new books and connect with other readers. With its variety of novels and engaging content, BookWave is a great resources for anyone who loves reading.</p>
        </div>
        <div class="col">
            <h3>Office <div class="underline"><span></span></div></h3>
            <p>ITPL Road</p>
            <p>Whitefield, Mainland</p>
            <p>Lagos</p>
            <p class="email-id">coder24@outlook.com</p>
            <p>+234 - 9087858705</p>
        </div>
        <div class="col">
            <h3>Links <div class="underline"><span></span></div></h3>
            <ul>
                <li><a href="/page">Home</a></li>
                <li><a href="/construct">About</a></li>
                <li><a href="/construct">Services</a></li>
                <li><a href="/construct">Contact</a></li>
                <li><a href="/construct">Developers</a></li>
            </ul>
        </div>
        <div class="col" id="col-2">
            <h3>Newsletter <div class="underline"><span></span></div></h3>
            <form id="form">
                <i class="far fa-envelope"></i>
                <input type="email" placeholder="Enter your email" id="inputt" required>
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
            <div class="social-icons">
                <i class="fab fa-facebook-f" style="margin-left: 0;"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-whatsapp"></i>
                <i class="bi bi-instagram"></i>
            </div>
        </div>
    </div>
    <hr>
    <p class="copyright">BookWave &copy; 2023 - All Rights Reserved.</p>
</footer>