<div class="searchBar">
    <div class="items">
        <form action="/search" class="search__form" role="search" method="POST">
            <span><i class="bi bi-person-bounding-box" style="color: white;"></i>Hi, BookWaver</span>
            <input type="search" aria-label="Search" id="searchInput" name="searchTerm" placeholder="Type one word from a book chapter, we will do the rest...">
            <i class="bi bi-search" id="search-btn"></i>
        </form>
    </div>
</div>

    