<div class="construct">
    <img src="img/building.svg" alt="under construction" width="300" height="300">
    <div>
        <p style="font-size: 1.2rem;">This novel is still <span style="color: red;"> in progress</span> and has not been completed yet. It is not available for reading at this time. We are still working on the novel and we will <span style="color: lightgreen;">upload it when it is atleast half finished</span>. Please check back later for updates regarding the completion of the novel. We apologize for any inconvenience and thank you for your patience and understanding.</p>
        <br>
        <p style="font-size: 1.2rem;">Click on the button bellow to redirect back to the home page.</p>
        <br>
        <button class="action_btn"><a href="/page" style="color: white;">Home</a></button>
    </div>
</div>