<div class="construct">
    <img src="img/construction.svg" alt="under construction" width="300" height="300">
    <div>
        <p style="font-size: 1.2rem;">This page is under construction. Click on the button bellow to navigate back to the home page.</p>
        <br>
        <button class="action_btn"><a href="/page" style="color: white;">Home</a></button>
    </div>
</div>