<body>
    <div class="welcome-text">
        <h1>Welcome to Book<span style="color: blue;">Wave</span>.</h1>
        <p><span>Bienvenue to the home of great new reads. Our website is your one-stop shop for discovering the latest and greatest in literature. With a constantly updated collection of newly released books, you will never run out of great stories to read. Sign up for our newslatter to get personalized recommendations and stay up to date on the latest releases. Start exploring and find your next great read!</span></p>
        <button class="button"><a href="/signup" style="text-decoration: none; color: #fff;">Explore Now</a></button>
    </div>
    <div class="images">
        <img src="img/book lover.svg" alt="svg" width="200" height="100" class="girl">
        <img src="img/reading.svg" alt="svg" width="200" height="100" class="bg">
        <img src="img/mobile.svg" alt="svg" width="200" height="100" class="mobile">
    </div>

    <div class="welcome-words">
        <img src="img/undraw.svg" alt="svg" width="250" height="150"/>
        <br>
        <br>
        <h1>Welcome to Book<span style="color: blue;">Wave</span></h1>
        <p>A home of great new reads!</p>
        <button class="button"><a href="/signup" style="text-decoration: none; color: #fff; margin-top: 2rem;">Explore Now</a></button>
    </div>
</body>