<body>
   <div class="objectives">
    <h1>Our <span style="color: blue; font-size: 40px;">Objectives</span></h1>
    <!-- image slider -->
    <div class="slider">
        <div class="img-box">
            <img src="img/reading.svg" alt="image" class="slider_img">
        </div>
        <div class="item">
            <div class="content">
                <div class="name">Providing<span id="word" style="color: blue; margin-left: 5px;">Comfort</span></div>
                <div class="des" id="word-el">Get curl up with a good book, and get lost in the pages of a captivating story. Escape the stresses of everyday life with a good book.</div>
            </div>
        </div>
        <div class="wordd">
            <div id="wordd">Comfort</div>
        </div>
        <!-- Next and prev Buttons -->
        <div class="slide">
        <button class="btnn" id="prev"><i class="bi bi-chevron-left"></i></button>
        <button class="btnn" id="next"><i class="bi bi-chevron-right"></i></button>
        </div>
    </div>
   </div>
   
   <div class="objectives">
    <h1>Our <span style="color: blue; font-size: 40px;">Webstore</span> Collection</h1>
    </div>
    <div class="image-el">
        <img src="img/book4.jpg" alt="Love and justice" width="200" height="250">
        <div class="text" style="margin-top: 10px;"><a href="/story" style="font-size: 1.5rem;">Love and Justice</a></div>
        <div class="text"><i class="bi bi-star"></i>(4.5)</div>
        <div class="text" style="margin-bottom: 10px;">Status: <span style="color: lightgreen;">Available</span></div>
        <img src="img/book5.jpg" alt="Mystery of Clifford's high school" width="200" height="250">
        <div class="text" style="margin-top: 10px;"><a href="/building" style="font-size: 1.5rem;">Clifford's High School</a></div>
        <div class="text"><i class="bi bi-star"></i>(4.3)</div>
        <div class="text" style="margin-bottom: 10px;">Status: <span style="color: yellow;">Ongoing</span></div>
        <img src="img/book3.jpg" alt="The Robert's way" width="200" height="250">
        <div class="text" style="margin-top: 10px;"><a href="/building" style="font-size: 1.5rem;">The Robert's Way</a></div>
        <div class="text"><i class="bi bi-star"></i>(4.8)</div>
        <div class="text" style="margin-bottom: 10px;">Status: <span style="color: red;">Unvailable</span></div>
        <span id="add-more"><i class="bi bi-plus-lg"></i></span>
        <div class="text-el">
            <a href="/story" style="margin-left: 30px;">Love and Justice</a>
            <a href="/building" style="margin-left: 85px;">Clifford's High School</a>
            <a href="/building" style="margin-left: 82px;">The Robert's Way</a>
        </div>
        <div class="text-el">
            <a style="margin-left: 60px;"><i class="bi bi-star"></i>(4.5)</a>
            <a style="margin-left: 190px;"><i class="bi bi-star"></i>(4.3)</a>
            <a style="margin-left: 200px;"><i class="bi bi-star"></i>(4.8)</a>
        </div>
        <div class="text-el">
            <a style="margin-left: 30px;">Status: <span style="color: lightgreen;">Available</span></a>
            <a style="margin-left: 93px;">Status: <span style="color: yellow;">Ongoing</span></a>
            <a style="margin-left: 117px;">Status: <span style="color: red;">Unavailable</span></a>
        </div>
    </div>

    <div class="wrapper">
        <h1>FAQs</h1>

        <div class="faq">
            <button class="accordion" id="accord">
                What is the purpose of Bookwave?
                <i class="bi bi-chevron-down" id="icon-1"></i>
            </button>
            <div class="pannel">
                <p>BookWave was created to make it easier for readers to find and share great books. We believe that books have the power to change lives, and we wanted to make that power more accessible to everyone. We created BookWave to bring together a community of readers, to make it easier to discover new books, and to give authors a platform to share their work with the world. We want to make reading fun, exciting, and easy for everyone.</p>
            </div>
        </div>

        <div class="faq">
            <button class="accordion" id="accord-2">
                Are BookWave books new and are they written by aspiring writers?
                <i class="bi bi-chevron-down" id="icon-2"></i>
            </button>
            <div class="pannel">
                <p>BookWave is a platform for authors to share their work with readers, but we don't write the books ourselves. Our authors are independent writers who use our platform to connect with readers and share their stories. We believe that every author should have the opportunity to share their work, and we're proud to provide a space for authors to connect with an audience. We're not publishers, we're a community of readers and writers.</p>
            </div>
        </div>

        <div class="faq">
            <button class="accordion" id="accord-3">
                Is there a community for BookWave users?
                <i class="bi bi-chevron-down" id="icon-3"></i>   
            </button>
            <div class="pannel">
                <p>Absolutely! One of the most important parts of BookWave is our community of readers. We have a dedicated community space where readers can share their thoughts, discuss books, and make recommendations. We encourage our readers to connect with each other and build a strong community around their shared love of books. However, the community page is still under construction, we are still in the planning phase of creating a space where readers can connect and discuss their favorite reads. For now, we are still focused on providing new reads but we are on it as well!</p>
            </div>
        </div>

        <div class="faq">
            <button class="accordion" id="accord-4">
                How long do BookWave update and upload new books?
                <i class="bi bi-chevron-down" id="icon-4"></i>
            </button>
            <div class="pannel">
                <p>BookWave is constantly adding new books to our platform. We aim to add new books every week, so there's always something new and exciting for readers to discover. Our goal is to provide a wide selection of books for readers to choose from, so they can always find something that interests them. We want to make sure that readers never get bored with our selection, and that they always have something new to look forward to. New books are added on a regular basis, so there's always something new to discover.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 style="color: #fff; text-align: center; font-size: 40px; margin-top: 5rem;"><span style="color: blue;">Users</span> Comments</h1>

        <div class="items">
            <div>
                <img src="img/mark.jpg" alt="mark" class="users" width="70" height="70">
                <h2>Thomas Morillo</h2>
                <p style="margin-top: 20px;">BookWave is the perfect place to find my next great new read. The recommendations are always on point.</p>
            </div>
            <div>
                <img src="img/johnson.jpg" alt="johnson" class="users" width="70" height="70">
                <h2>Charles Shaifer</h2>
                <p style="margin-top: 20px;">I love that BookWave makes it easy to explore new genres and authors. I've discovered so many great books here.</p>
            </div>
            <div>
                <img src="img/fiyin.jpg" alt="fiyin" class="users" width="70" height="70">
                <h2>Zoey Selova</h2>
                <p style="margin-top: 20px;">The community of readers on BookWave is really supportive and helpful. I love getting recommendations from other members and finding new books to love.</p>
            </div>
            <div>
                <img src="img/tunde.jpg" alt="tunde" class="users" width="60" height="60">
                <h2>Johnson Andrew</h2>
                <p style="margin-top: 20px;">BookWave is my go-to place for cozy reading. Their new books collection are amazing.</p>
            </div>
        </div>
    </div>
</body>